.outer{
    width: 70vw;
    margin: auto;
}

.row{
    height: 30vh;
}

.item {
    height:100%;
}

.carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
}

.carousel-inner>.item>img{
    margin: auto;
    height:100%;
    width: 100%;
}

.jumbotron{
    padding:0;
}

.carousel-indicators li {
    visibility: hidden;
}

label{
    font-size: 25px;
    font-weight: bold;
}

.preview{
    border: 1px solid;
}

.viewMore{
    font-size: 20px;
}

.fa-angle-right{
    color: #e3256b;
}

.list {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    margin:2.5%;
    height: 90%;
    overflow: hidden;

}

.list:hover, .list:active {
    -webkit-box-shadow: 7px 10px 14px 2px rgba(227,37,107,0.64);
    -moz-box-shadow: 7px 10px 14px 2px rgba(227,37,107,0.64);
    box-shadow: 7px 10px 14px 2px rgba(227,37,107,0.64);
}

.groupPreview{
    margin-bottom: 1%;
}