/* line 6, ../sass/customnav.scss */
.navbar-default {
  background-color: #E3256B;
  border-color: #A3256B;
  margin: 0;
}
/* line 9, ../sass/customnav.scss */
.navbar-default .navbar-brand {
  color: #E3256B;
}
/* line 11, ../sass/customnav.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #E3256B;
}
/* line 13, ../sass/customnav.scss */
.navbar-default .navbar-text {
  color: #E3256B;
}
/* line 17, ../sass/customnav.scss */
.navbar-default .navbar-nav > li > a {
  color: #E3256B;
}
/* line 19, ../sass/customnav.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #E3256B;
}
/* line 22, ../sass/customnav.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #E3256B;
  background-color: #A3256B;
}
/* line 26, ../sass/customnav.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #E3256B;
  background-color: #A3256B;
}
/* line 29, ../sass/customnav.scss */
.navbar-default .navbar-toggle {
  border-color: #A3256B;
}
/* line 31, ../sass/customnav.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #A3256B;
}
/* line 33, ../sass/customnav.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #E3256B;
}
/* line 35, ../sass/customnav.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #E3256B;
}
/* line 38, ../sass/customnav.scss */
.navbar-default .navbar-link {
  color: #E3256B;
}
/* line 40, ../sass/customnav.scss */
.navbar-default .navbar-link:hover {
  color: #E3256B;
}

@media (max-width: 767px) {
  /* line 44, ../sass/customnav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #E3256B;
  }
  /* line 46, ../sass/customnav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #E3256B;
  }
  /* line 49, ../sass/customnav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E3256B;
    background-color: #A3256B;
  }
}
