.doodleInfo {
    border: 2px solid black;
    border-radius: 4px;
    width:600px;
    margin:0 auto;
    height:150px;
}

.drawingPage {
    position: relative;
    height:600px;
    margin:6px;
}

.doodleButtons {
    float: right;
    padding: 3px;
    margin-right: 24px;
    margin-top: 24px;
}

.doodleButtons a {
    margin-bottom: 12px;
}

.doodleDesc {
    float: left;
    margin:12px;
}
#newDoodleModal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
