.doodleInfo {
    border: 2px solid black;
    border-radius: 4px;
    width: 600px;
    height: 150px;
    position: absolute;
    top: 612px;
    left: 53%;
    transform: translateX(-50%);

}

.drawingPage {
    height:600px;
    position: relative;
    left: 50%;
    transform: translateX(-22%);
}

.doodleButtons {
    float: right;
    padding: 3px;
    margin-right: 24px;
    margin-top: 24px;
}

.doodleButtons a {
    margin-bottom: 12px;
}

.doodleDesc {
    float: left;
    margin:12px;
}
#newDoodleModal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-body {
    height:250px;
}

.drawingContainer {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 6px;

}

