.doodleInfo {
    border: 2px solid black;
    border-radius: 4px;
    height: 150px;
    top: 612px;
    width: 750px;


}

.drawingPage {
    height: 675px;
    position: relative;
    width: 750px;
}

.doodleButtons {
    float: right;
    padding: 3px;
    margin-right: 24px;
    margin-top: 24px;
}

.doodleButtons a {
    margin-bottom: 12px;
}

.doodleDesc {
    float: left;
    margin:12px;
}
#newDoodleModal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-body {
    height:250px;
}

.drawingContainer {
    display: block;
    height: 100%;
    margin: 6px;
    position: absolute;
    width: 100%;
}

