
.navbar{
    margin-top:5px;
}

.container-fluid{

}

.subnav > div{
    background-color:#E3256B
}

.subheader{
    text-align: start;
}

.sublinks{
    padding-right: 3%;
}

.navbar-text, .sublinks > li > a{
    color:white;
}

.navlinks > li > a{
    font-size: larger;
    font-weight: bold;
}

#navtop, .subnav, .header{
    margin-bottom:0px;
    padding-bottom:0px;

    padding-top:0px;
}

#logo{
    height:25px;
}

.navright{
    height:15%;
    text-align: center;
}

.accountSettings{
    margin-top:auto;
    text-align: center;
    display: inline;
    vertical-align:middle;
    line-height: 50px;
}

.navbar-nav >li {
    color: #ffffff;;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
