
.description{
    border: 2px solid black;
    padding : 2px;
    border-radius: 4px;
}

.description > div{
    padding:5px;
}

#textForm{
    width:80%;
    height:inherit;
}

#buttons{
    width:20%;
    height: inherit;
}

.holder{
    vertical-align: middle;
    position:relative;
    min-height:100%;
}

.pageList{
    border: 2px solid black;
    position:absolute;
    right:0;
    min-height:65%;
    min-width:12%;
    height:inherit;

}
