
.description{
    border: 2px solid black;
    position: absolute;
    width: inherit;
    height: auto;
    padding : 2px;
    border-radius: 4px;
}

#textForm{
    width:80%;
}

#buttons{
    width:20%;
    height: inherit;
}

.holder{
    vertical-align: middle;
    position:absolute;
    min-height:100%;
}