
.filterBoxes {
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;
    height: 40%;
}

.refineSerch {
    height:70vh;
}

.searchResultsList {
    overflow-x: scroll;
    height: 70vh;
}

.seriesImg {
    height:100%;
    padding: 0;
}

.seriesImg  .seriesIcon{
    height:100%;
    width: 100%;
}

.searchResult {
    height:30%;
    margin-bottom: 2%;
    position: relative;
}

.searchDescrip {
    position: relative;
    bottom: 0;
    left: 0;
}