body {
    position: relative;
}

#outer {
    border-radius: 5px;
    border: 2px solid;
    margin: 1% 2.5% 1%;
    padding: 10px;
    width: 95%;
    height: 85vh;
}

#seriesInfo {
    display: inline-block;
    height: 100%;
    margin: 20px;
    width: 20%;
}

#seriesChapter {
    height: 100%;
    overflow-y: scroll;
    width: 75%;
}

#seriesImg {
    margin: 0% 5%;
    position: relative;
}

.btn-link {
    color: #e3256b;
    position: absolute;
    right: 5px;
    top: 5px;
}

#uploadButton {
    background-color: #e5e7e1;
    border-radius: 5px;
    border: 2px solid #e5e7e1;
    padding: 2px;
}

#title {
    margin: 5% 5% 0%;
    text-align: center;
}

#description {
    border-radius: 5px;
    border: 2px solid;
    font-size: 20px;
    height: 40%;
    margin: 5% 5% 0%;
    overflow-y: scroll;
    padding: 28px 10px 10px;
    position: relative;
}

.updateDescr {
    position: absolute;
    right: 0px;
    top: 0px;
}

.addUnpublish {
    display: block;
    font-size: 20px;
    margin: 5% 5% 0%;
}

.chapter {
    border-radius: 5px;
    border: 2px solid;
    margin: 20px 0px 0px 20px;
    overflow: auto;
    position: relative;
}

.chapter p {
    display: inline-flex;
    font-size: 20px;
    margin: 10px 50px 0px 0px;
}

.chapterImg {
    margin: 10px;
    height:150px;
    width: 150px;
}

#chapterTitle {
    display: inline-flex;
    margin: 10px 50px 0px 0px;
}

#textboxDescr {
    height: 250px;
    width: 500px;
}

#img {
    max-height: 100%;
    max-width: 100%;
}

.role{
    float: right;
}