.chapterImg {
    width:100%;
    height:100%;

}

.topComics {
    height: 30vh;
}

form.topComic {
    height: 60vh;
}

.topComics div {
    height:80%;
    padding: 0;

}

.filterBox {
    margin-bottom: 3%;
}

.comicsList {
    overflow-y: scroll;
    height:65vh;
}

